@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");

body {
    margin: 0;
    font-family: "Inter", "Pretendard", "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #444444;
}

code {
    font-family: "Fira Code", "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    margin: 0;
}

.space70 {
    height: 70px;
    width: 100%;
}
